<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd 
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<!-- <context:annotation-config /> -->
 	<context:component-scan base-package="com.bjsxt" />	
	
	<!-- 上面添加aop
		  内部使用aspectj实现，专门用来产生代理的框架(加入2个jar包)
		  启动aop，扫描，自动产生代理，
		  使用aspectj注解的方式产生动态代理
	 -->
    <!-- proxy-target-class="true"  启用cglib生成代理 默认false -->
	<aop:aspectj-autoproxy proxy-target-class="false" />
	
</beans>