<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


  <bean name="u" class="com.bjsxt.dao.impl.UserDAOImpl">
  </bean>
  
	<!-- scope:生命范围：
		=prototype 按照原型造对象，所以每次都是新的，不是单例模式
		=singleton 单例模式造对象(默认值)
	 -->
  <bean id="userService" class="com.bjsxt.service.UserService" scope="prototype">
  	<property name="userDAO" ref="u" />
  </bean>
  

</beans>