<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<!-- <context:annotation-config /> -->
	<context:component-scan base-package="com.bjsxt"/>
					
					<!-- 使用xml方式的aop -->
					
	<!-- 初始化切面类    相当于@Component -->			 
	<bean id="logInterceptor"  class="com.bjsxt.aop.LogInterceptor"> </bean>
	<bean id="timeInterceptor" class="com.bjsxt.aop.TimerInterceptor"> </bean>
	
	<aop:config>
		<!-- 申明一个切入点（公共的） ,id：切面名字	expression：切面语法  service层 -->
		<aop:pointcut id="servicePointcut" expression="execution(public * com.bjsxt.service..*.add(..))" />
					  
		<!--<aop:advisor advice-ref="" pointcut-ref=""/>    加事务,还没讲.-->
		
		<!-- 申明一个切面 把它与切面类关联起来    相当于@Aspect -->		  
		<aop:aspect id="logAspect" ref="logInterceptor">
			<!-- 切面里也可以申明 aop:pointcut 只不过只属于这个切面-->
			<!-- <aop:pointcut expression="execution(public * com.bjsxt.service..*.add(..))" id="aaa"/> -->
			
			<!-- aop:before 先执行logInterceptor类里的before方法 -->
			<aop:before method="mybefore"       pointcut-ref="servicePointcut" />
			<aop:around method="myaroundMethod" pointcut-ref="servicePointcut"/>
		</aop:aspect>
		
		<aop:aspect id="timeAspect" ref="timeInterceptor">
			<aop:before method="startTime" pointcut-ref="servicePointcut" />
			<aop:after  method="endTime"   pointcut-ref="servicePointcut"/>
		</aop:aspect>
	</aop:config>	
	
	
	
					<!-- 第二种配置方法 -->	
	<!--
	<aop:config>		
		<aop:aspect id="logAspect" ref="logInterceptor">
			<aop:before method="before" pointcut="execution(public * com.bjsxt.service..*.add(..))" />
		</aop:aspect>
	</aop:config>
	-->
	
	
	
</beans>